<p>
  list works!
</p>
<div class="wrapper">
  <input type="text" #newNote (keyup)="searchTag(newNote.value)">
  <button
   (click)="addNote(newNote.value); newNote.value=''">
   add
  </button>
  <ul>
    <li *ngFor='let note of notes; let i = index'>
      {{note.title}}<br>
      <span *ngFor='let tag of note.tags' [ngClass]='{"selected":tag.selected}'>
        {{tag.text}}
      </span><br>
      <button (click)="deleteNote(note)">remove</button>
      <button (click)="changeNote(note)">change</button>
      <button (click)="deleteTags(i)">delete tags</button>
      <button (click)="addTag(i)">add tag</button>
    </li>
  </ul>
  <input type="text" #findTag>
  <button (click)="showTags(findTag.value)">find tags</button>
</div>